@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";
@import "partials/sprite";
@import "partials/icons";
@import "partials/navigation";

body {
  font-size:small;
}
.pseudo {
  display: block;
  content: '';
}
.dashed_line {
  border-bottom: 1px dashed #26a9cc;
}
.flex {display: flex;}
.flex-column {flex-flow: column nowrap}
.flex-row {flex-flow: row wrap}
.justify-center {justify-content: center}
.justify-between {justify-content: space-between}
.justify-start {justify-content: flex-start}
.justify-end {justify-content: flex-end}
.flex-center {align-items: center}
.curs_default {cursor: default}
.f_small {font-size: 0.8em};
.f_regular {font-size: 1em};//17px
.f_medium {font-size: 1.375em};//22px
.f_big {font-size: 1.625em};//26px
.f_black {font-size: 3em};
.fm_super {font-size: 3.35em};
.f_super {font-size: 5em};
.h_indent {margin: 20px 0}
.inline_b {display: inline-block}
.relative {position: relative}
.absolute {position: absolute}
a{color: #49cef2;&:hover{color: #40bce0}}
i{display: inline-block; vertical-align: middle; margin-right: 20px}
.uppercase {text-transform: uppercase};
.underline {
  text-decoration: underline;}
.container {
}
.wrapper {
  max-width: 1480px;
  margin: auto;
}
.navigation__line {
  @extend .flex,
          .flex-center,
          .flex-column;
}

.logo {
  width: 250px;
  height: 69px;
  padding: 20px;
  background: url(../images/logo_2.svg) no-repeat;
  background-position: center;
  background-size: 100%;
}

.slogan {
  display: none;
}
.head__block {
  display: block;
  padding: 100px 0 175px 0;
  background: url(../images/header-background.jpg) repeat-x;
  background-size: 100%;
  background: #16243f; /* Old browsers */
  background: linear-gradient(to bottom, #16243f 0%,#182b4b 5%,#183d71 21%,#154582 28%,#134e90 33%,#11608b 48%,#0e4f79 72%,#0a4370 81%,#1b316a 93%,#162645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16243f', endColorstr='#162645',GradientType=0 ); /* IE6-9 */
}
.head__content {
  @extend .flex,
          .flex-column,
          .flex-center;
}
.header-left {max-width: 605px;}
.header-right {max-width: 690px}

.header_video {width: 100%}

.dashed {
  display: block;
  border-bottom: dashed 3px rgba(255,255,255,0.3);
  margin: 20px 0;
}
.time {
  max-width: 450px;
  p {
    display: block;
  }
  .time_desc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.header_rate_wrap {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}
.rate_h {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 30px;
  line-height: 60px;
  position: relative;
  &:after {
    @extend .roboto_thin;
    position: absolute;
    opacity: 0.2;
    line-height: 110px;
    vertical-align: middle;
    font-size: 60px;
    right: -35px;
    top: 0;
    display: block;
    content: "|";
  }
  &:nth-child(2) {font-size:0.63em;}
  &:last-child {margin-right: 0}
  &:last-child:after {display: none}
}
.rate__block_h {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  div {
    text-align: center;
  }
}
.form_whitelist {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 530px;
  border-radius: 5px;
  box-shadow: 3px 4px 54px rgba(0,0,0,0.37);
  background-color: rgba(11, 122, 152, 0.37);
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }
  input, button.submit {
    border: none;
    border-radius: 5px;
    height: 65px;
    width: 80%;
    margin: 10px auto;
  }
}
.form_whitelist input {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #fff;
  background: none;
  &::placeholder {color: #fff;}
  &:focus{outline:none;}
  &:focus::placeholder{color: transparent}
}
button.submit {
  cursor: pointer;
}
.form-text {
  @extend .h_indent;
  width: 80%;
  position: relative;
  text-decoration: underline;
  div>p {
    line-height: 32px;
  }
}



section {
  @extend .white_b;
  &.block1, &.block3, &.block5 {@extend .lightBlue_b}
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.title, .subtitle {
  @extend .roboto_regular;
  text-align: center;
  text-transform: uppercase;
  font-size:32px;
}
h1.title {
  margin: 40px auto;
}
h2.subtitle {
  margin: 20px auto;
}

//ICO RATINGS

.rate {
  @extend .roboto_medium,
          .flex;
  font-size:2.12em;
  margin: 28px auto;
  max-height: 80px;
  width: 100%;
}

.rate__block {
  @extend .relative;
  min-height: 38px;
  display: inline-block;
}
.rate__block:first-child {
  @extend .pacificBlue,
          .white_c;
  padding: 10px;
}
.rate__block:first-child:before {
  @extend .pseudo,
          .absolute;
}
.rate__block:first-child:after {
  @extend .pseudo,
          .absolute;
  bottom: 35%;
  right: -10px;
  border-style: solid;
  border-color: transparent transparent transparent #26a9cc;
  border-width: 10px 0 10px 10px;
}
.rate__block:last-child {
  @extend .flex;
  background-color: rgba(38, 168, 203, 0.1);
  align-items: center;
  width: 100%;
}
.rate__block:last-child div {
  display: block;
  margin-left: 20px;
}
.rate__block:last-child:after {
  @extend .pseudo,
          .absolute;
}

//MEDIA ABOUT NEUROMATION
.quote {
  color: #106a8c;
  position: relative;
  border: 1px dotted #106a8c;
  margin: 30px auto;
}
.quote_wrapper {
  max-width: 600px;
  text-align: center;
  padding: 35px 15px;
  margin: 12px;
  background-color: rgba(236, 250, 254, 0.6);
}
.quote_text {
  margin: 10px 0;
}
.pinetree:before, .pinetree:after  {
  @extend .roboto_black;
  position: absolute;
  display: block;
  font-size:40px;
  vertical-align: middle;
  line-height:30px;
  background-color: white;
}

.quote_author, .quote_author a {
  @extend .h_indent;
  color: #0b0b0b;
}

.partners {
  @extend .wrapper,
          .flex,
          .flex-row,
          .justify-center;
  margin: 60px 0 100px;
  i {
    margin: 20px;
  }
}

//NEUROMATION PLATFORM INTRO
.frame_wrrapper {
  width: 100%;
  max-width: 601px;
}
.block3 .intro {
  display: flex;
  flex-grow: 2;
  margin: 0 0 40px;
  width: 100%;
}
.block4 h2 {
  margin: 60px auto;
}
.block4__step {
  margin: 60px auto;
}


//TIMING

.timing {
  @extend .flex,
  .flex-column,
  .roboto_light,
  .headBlack_c,
  .relative;
  &:before {
    @extend .pseudo,
            .absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px dashed #26a9cc;
  }
  .timing__node {
    @extend .relative;
    margin: 20px 40px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:before {@extend .absolute, .pseudo, .inner_circle; left: -58px; top: 0}
    &:after {@extend .absolute, .pseudo, .circle; left: -55px; top: 3px}
  }
  .timing__title {
    @extend .subTitle_c,
            .roboto_medium;
  }
}

.inner_circle {
  border: solid 3px #26a9cc;
  border-radius: 50%;
  max-width: 36px;
  width: 30px;
  height: 30px;
  background: $white;
}
.circle {
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px;
  border-radius: 50%;
  background: $pacificBlue;
}


//TOKEN DETAILS
.token__details {
  @extend .flex,
  .flex-column,
  .flex-center;
  .token__rect {
    @extend .roboto_light;
    width: 100%;
    outline: solid 3px rgba(225, 225, 225, 0.4);
    div {
      margin: 20px;
    }
  }
}

//CHARTS
.token__distribution, .proceeds__distribution, .timing__bonus {
  @extend .relative;
}
.bar_helper {
  @extend .roboto_medium,
          .blue_c5;
  position: absolute;
  div {
    @extend .roboto_bold,
            .f_medium;
  }
  &:nth-child(1) {top: -20px; left: 44px}
  &:nth-child(2) {top: 95px; left: 150px}
  &:nth-child(3) {top: 210px; left: 255px}
}

.donut_path {
  display: none;
}

.distribution__descr {
  @extend .f_regular;
&:before {
  content: "⯁";
  padding-right: 10px;
}
}
.chart1__helpers {
  div {
    &:nth-child(2):before {@extend .blue_c5}
    &:nth-child(3):before {@extend .blue_c1}
    &:nth-child(4):before {@extend .blue_c2}
    &:nth-child(5):before {@extend .blue_c3}
    &:nth-child(6):before {@extend .blue_c4}
  }
}
.chart2__helpers {
  div {
    &:nth-child(2):before {@extend .blue_c6}
    &:nth-child(3):before {@extend .blue_c5}
    &:nth-child(4):before {@extend .blue_c5}
    &:nth-child(5):before {@extend .blue_c1}
  }
}

//GOALS

.eth_1 {@extend .h_indent; color: #02bef6}
.eth_2 {@extend .h_indent; color: #069ed2}
.eth_3 {@extend .h_indent; color: #0787b9}
.eth_4 {@extend .h_indent; color: #0a73a2}

.bagel {
  @extend .h_indent;
  .inner_circle_n {
    padding: 20px 0;
    width: 100%;
  }
}


//NEUROMATION ROADMAP
.roadmap {
  @extend .flex,
          .flex-column;
  margin: 20px 0 60px;
}
.roadmap_wrapper {
  @extend .flex,
          .flex-row;
  margin: 30px auto;
  flex-wrap: nowrap
}
.roadmap_text {
  order: 2;
  width: 63%;
}
.roadmap_line {
  &:before {
    @extend .inner_circle;
  }
  &:after {
    @extend .circle;

    width: 24px;
    height: 24px;
  }
}
.cross__cutting {
  @extend .roboto_light,
          .greenBlue_c;
  p {
    @extend .h_indent;
  }
  strong {
    @extend .roboto_regular;
  }
}
//FOOTER
footer {
  width: 100%;
  background: #023f50;
  border-top: #105b70 solid 5px;
  font-size: 0.8em;
  ul {
    background: #023f50;
    text-align: center;
  }
  li {
    list-style: none;
    display: inline-block;
    line-height: 2.1em;
    &:after {
      display: inline-block;
      content: "|";
      margin: 10px;
    }
  }
}