@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";
@import "partials/sprite";
@import "partials/navigation";

.hacked {
  @include sprite($hacked);
}
.ico-bench {
  @include sprite($ico-bench);
}
.icoraiting {
  @include sprite($icoraiting);
}
.hacked-reverse {
  @include sprite($hacked-reverse);
}
.ico-bench-reverse {
  @include sprite($ico-bench-reverse);
}
.icoraiting-reverse {
  @include sprite($icoraiting-reverse);
}
.mail {
  @include sprite($mail);
}
.clock {
  @include sprite($clock);
}
.download {
  @include sprite($download);
}
.paper_term {
  @include sprite($paper_term);
}
.arrow {
  margin-left: 30px;
  @include sprite($arrow);
}

.bit {@include sprite($bit);}
.boards {@include sprite($boards);}
.brain {@include sprite($brain);}
.cubic {@include sprite($cubic);}
.health {@include sprite($health);}
.net {@include sprite($net);}
.rocket {@include sprite($rocket);}
.wheel {@include sprite($wheel);}

body {
  font-size:small;
}
.pseudo {
  display: block;
  content: '';
}
.dashed_line {
  border-bottom: 1px dashed #26a9cc;
}
.flex {display: flex;}
.flex-column {flex-flow: column nowrap}
.flex-row {flex-flow: row wrap}
.justify-center {justify-content: center}
.justify-between {justify-content: space-between}
.justify-start {justify-content: flex-start}
.justify-end {justify-content: flex-end}
.flex-center {align-items: center}
.curs_default {cursor: default}
.f_small {font-size: 0.8em};
.f_regular {font-size: 1em};//17px
.f_medium {font-size: 1.375em};//22px
.f_big {font-size: 1.625em};//26px
.f_black {font-size: 3em};
.fm_super {font-size: 3.35em};
.f_super {font-size: 5em};
.h_indent {margin: 20px 0}
.inline_b {display: inline-block}
.relative {position: relative}
a{color: #49cef2;&:hover{color: #40bce0}}
i{display: inline-block; vertical-align: middle; margin-right: 20px}
.uppercase {text-transform: uppercase};
.underline {
  text-decoration: underline;}
.container {
}
.wrapper {
  max-width: 1480px;
  margin: auto;
}
.navigation__line {
  @extend .flex,
          .flex-center,
          .flex-column;
}

.logo {
  width: 250px;
  height: 69px;
  padding: 20px;
  background: url(../images/logo_2.svg) no-repeat;
  background-position: center;
  background-size: 100%;
}

.slogan {
  display: none;
}
.head__block {
  display: block;
  padding: 100px 0 175px 0;
  background: url(../images/header-background.jpg) repeat-x;
  background-size: 100%;
  background: #16243f; /* Old browsers */
  background: linear-gradient(to bottom, #16243f 0%,#182b4b 5%,#183d71 21%,#154582 28%,#134e90 33%,#11608b 48%,#0e4f79 72%,#0a4370 81%,#1b316a 93%,#162645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16243f', endColorstr='#162645',GradientType=0 ); /* IE6-9 */
}
.head__content {
  @extend .flex,
          .flex-column,
          .flex-center;
}
.header-left {max-width: 605px;}
.header-right {max-width: 690px}

.header_video {width: 100%}

.dashed {
  display: block;
  border-bottom: dashed 3px rgba(255,255,255,0.3);
  margin: 20px 0;
}
.time {
  max-width: 450px;
  p {
    display: block;
  }
  .time_desc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.header_rate_wrap {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}
.rate_h {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 30px;
  line-height: 60px;
  position: relative;
  &:after {
    @extend .roboto_thin;
    position: absolute;
    opacity: 0.2;
    line-height: 110px;
    vertical-align: middle;
    font-size: 60px;
    right: -35px;
    top: 0;
    display: block;
    content: "|";
  }
  &:nth-child(2) {font-size:0.63em;}
  &:last-child {margin-right: 0}
  &:last-child:after {display: none}
}
.rate__block_h {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  div {
    text-align: center;
  }
}
.form_whitelist {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 530px;
  border-radius: 5px;
  box-shadow: 3px 4px 54px rgba(0,0,0,0.37);
  background-color: rgba(11, 122, 152, 0.37);
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }
  input, button.submit {
    border: none;
    border-radius: 5px;
    height: 65px;
    width: 80%;
    margin: 10px auto;
  }
}
.form_whitelist input {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #fff;
  background: none;
  &::placeholder {color: #fff;}
  &:focus{outline:none;}
  &:focus::placeholder{color: transparent}
}
button.submit {
  cursor: pointer;
}
.form-text {
  @extend .h_indent;
  width: 80%;
  position: relative;
  text-decoration: underline;
  div>p {
    line-height: 32px;
  }
}



section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.title, .subtitle {
  @extend .roboto_regular;
  text-align: center;
  text-transform: uppercase;
  font-size:32px;
}
h1.title {
  font-size:48px;
  margin: 40px auto;
}
h2.subtitle {
  margin: 20px auto;
}
.rate {
  display: flex;
  font-size:2.12em;
  margin: 28px auto;
  //max-height: 80px;
}
.rate__block {
  min-height: 38px;
  position: relative;
  display: inline-block;
}
.rate__block:first-child {
  padding: 15px;
}
.rate__block:first-child:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  border-bottom: 68px solid #26a9cc;
  border-left: 20px solid transparent;
}
.rate__block:first-child:after {
  content: "";
  position: absolute;
  bottom: 35%;
  right: -10px;
  border-style: solid;
  border-color: transparent transparent transparent #26a9cc;
  border-width: 10px 0 10px 10px;
}
.rate__block:last-child {
  background-color: rgba(38, 168, 203, 0.1);
  display: flex;
  align-items: center;
}
.rate__block:last-child div {
  display: block;
  margin-left: 20px;
}
.rate__block:last-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  border-top: 68px solid rgba(38, 168, 203, 0.1);
  border-right: 20px solid transparent;
}
.quote {
  color: #106a8c;
  position: relative;
  border: 1px dotted #106a8c;
  margin: 30px auto;
}
.quote_wrapper {
  max-width: 970px;
  text-align: center;
  padding: 35px 15px;
  margin: 12px;
  background-color: rgba(236, 250, 254, 0.6);
}
.quote_text {
  margin: 10px 0;
}
.pinetree:before, .pinetree:after  {
  @extend .roboto_black;
  position: absolute;
  display: block;
  font-size:40px;
  vertical-align: middle;
  line-height:30px;
  background-color: white;
}
.quote_open:before {
  top: -11px;
  left: -10px;
  display: block;
  content: "«";
}
.quote_close:after {
  bottom: -12px;
  right: -10px;
  display: block;
  content: "»";
}
.quote_author, .quote_author a {
  @extend .h_indent;
  color: #0b0b0b;
}
.block2 img {
  width: 100%;
  max-width: 1357px;
  margin: 30px auto;
}
.frame_wrrapper {
  width: 100%;
  max-width: 601px;
}
.block3 .intro {
  display: flex;
  flex-grow: 2;
  margin: 0 0 40px;
  width: 100%;
}
.block4 h2 {
  margin: 60px auto;
}
.block4_step {
  margin: 60px auto;
}
.timing {
  @extend .flex,
          .flex-row;
  .flex-column {
    margin: 20px 80px;
    text-align: center;
    .circle_wrap {
      margin: 20px auto;
    }
  }
}
.circle_wrap {
  position: relative;
}
.flex-column:nth-child(1) .circle_wrap:after, .flex-column:nth-child(2) .circle_wrap:after {
  display: block;
  content: "";
  width: 270px;
  top: 49%;
  left: 100%;
  position: absolute;
  border-bottom: dashed 1px rgba(38, 169, 204,0.8);
}
.inner_circle {
  border: solid 3px #26a9cc;
  border-radius: 50%;
  max-width: 36px;
  width: 30px;
  height: 30px;
  background: $white;
}
.circle {
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px;
  border-radius: 50%;
  background: $pacificBlue;
}
.token_rect {
  width: 15%;
  max-width: 290px;
  border: solid 3px rgba(225, 225, 225, 0.4);
  padding: 20px 40px;
  margin: 0 30px;
  &:last-child {
    text-align: center;
  }
}

.token__distribution, .proceeds__distribution {
  @extend .relative;
}

.donut_path {
  display: none;
}

//GOALS

.eth_1 {@extend .h_indent; color: #02bef6}
.eth_2 {@extend .h_indent; color: #069ed2}
.eth_3 {@extend .h_indent; color: #0787b9}
.eth_4 {@extend .h_indent; color: #0a73a2}

.bagel {
  @extend .h_indent;
  .inner_circle_n {
    padding: 20px 0;
    width: 100%;
  }
}


//NEUROMATION ROADMAP
.roadmap {
  @extend .flex,
          .flex-column;
}
.roadmap_wrapper {
  @extend .flex,
          .flex-row;
  margin: 30px auto;
  flex-wrap: nowrap
}
.roadmap_text {
  order: 2;
  width: 63%;
}
.roadmap_line {
  &:before {
    @extend .inner_circle;
  }
  &:after {
    @extend .circle;

    width: 24px;
    height: 24px;
  }
}

//FOOTER
footer {
  width: 100%;
  background: #023f50;
  border-top: #105b70 solid 5px;
  font-size: 0.8em;
  ul {
    background: #023f50;
    text-align: center;
  }
  li {
    list-style: none;
    display: inline-block;
    line-height: 2.1em;
    &:after {
      display: inline-block;
      content: "|";
      margin: 10px;
    }
  }
}