@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, a {
  list-style: none;
  text-decoration: none; }
  ol:hover, ul:hover, a:hover {
    list-style: none;
    text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.black_c {
  color: #393939; }

.white_c, .rate__block:first-child {
  color: #fff; }

.greenBlue_c, .cross__cutting {
  color: #064355; }

.cyan_c {
  color: #49cef2; }

.title {
  color: #062769; }

.subTitle_c, .timing .timing__title {
  color: #26a9cc; }

.headBlack_c, .timing {
  color: #252525; }

.black_b {
  background-color: #393939; }

.white_b, section {
  background-color: #fff; }

.greenBlue_b {
  background-color: #064355; }

.lightBlue_b, section.block1, section.block3, section.block5 {
  background-color: #dbf5fc; }

.cyan_b {
  background-color: #49cef2; }

.subTitle_b {
  background-color: #26a9cc; }

.pacificBlue, .rate__block:first-child {
  background-color: #26a9cc; }

.circle_1 {
  background-color: #02bef6; }

.circle_2 {
  background-color: #069ed2; }

.circle_3 {
  background-color: #0787b9; }

.circle_4 {
  background-color: #0a73a2; }

.blue_c1, .chart1__helpers div:nth-child(3):before, .chart2__helpers div:nth-child(5):before {
  color: #4fd5ff; }

.blue_c2, .chart1__helpers div:nth-child(4):before {
  color: #02bef6; }

.blue_c3, .chart1__helpers div:nth-child(5):before {
  color: #0892db; }

.blue_c4, .chart1__helpers div:nth-child(6):before {
  color: #1775b8; }

.blue_c5, .bar_helper, .chart1__helpers div:nth-child(2):before, .chart2__helpers div:nth-child(3):before, .chart2__helpers div:nth-child(4):before {
  color: #114d8d; }

.blue_c6, .chart2__helpers div:nth-child(2):before {
  color: #3673b5; }

.blue_c7 {
  color: #02bff6; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/Roboto-Thin.eot?") format("eot"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-Light.eot?") format("eot"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto/Roboto-Regular.eot?") format("eot"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Medium.eot?") format("eot"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/roboto/Roboto-Bold.eot?") format("eot"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/Roboto-Black.eot?") format("eot"), url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff"), url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/roboto/Roboto-Black.svg#Roboto") format("svg"); }

.roboto_thin, .rate_h:after {
  font-family: "Roboto";
  font-weight: 100; }

.roboto_light, .timing, .token__details .token__rect, .cross__cutting {
  font-family: "Roboto";
  font-weight: 300; }

.roboto_regular, .title, .subtitle, .cross__cutting strong {
  font-family: "Roboto";
  font-weight: normal; }

.roboto_medium, .rate, .timing .timing__title, .bar_helper {
  font-family: "Roboto";
  font-weight: 500; }

.roboto_bold, .bar_helper div {
  font-family: "Roboto";
  font-weight: bold; }

.roboto_black, .pinetree:before, .pinetree:after {
  font-family: "Roboto";
  font-weight: 900; }

nav {
  display: none; }
  nav--open {
    height: auto;
    margin-top: 30px;
    border-top: 3px solid white; }
  nav__link {
    margin: 20px 0 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color .5s ease; }
    nav__link:hover {
      color: #111; }

nav.--open {
  display: flex;
  height: auto;
  margin: auto;
  border: none;
  width: 100%; }
  nav.--open li:last-child {
    margin-bottom: 20px; }

ul.navigation {
  flex-flow: column nowrap;
  flex: 100%;
  transition: height, margin .3s ease;
  z-index: 1;
  overflow: hidden; }

ul.navigation li:last-child > a {
  margin-right: 0; }

ul.navigation a {
  color: #fff;
  margin: 0 25px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }

ul.navigation :hover {
  color: #49cef2; }

.nav-btn {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2; }

.nav-btn span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.nav-btn span:nth-child(1) {
  top: 0px; }

.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 10px; }

.nav-btn span:nth-child(4) {
  top: 20px; }

.nav-btn.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%; }

.nav-btn.open span:nth-child(2) {
  transform: rotate(45deg); }

.nav-btn.open span:nth-child(3) {
  transform: rotate(-45deg); }

.nav-btn.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%; }

.hacked {
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px -104px;
  width: 135px;
  height: 42px; }

.ico-bench {
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px -52px;
  width: 135px;
  height: 42px; }

.icoraiting {
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px 0px;
  width: 135px;
  height: 42px; }

.hacked-reverse {
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px -156px;
  width: 126px;
  height: 45px; }

.ico-bench-reverse {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -282px;
  width: 153px;
  height: 45px; }

.icoraiting-reverse {
  background-image: url(../images/sprite/sprite.png);
  background-position: -163px -282px;
  width: 136px;
  height: 45px; }

.mail {
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px -211px;
  width: 54px;
  height: 44px; }

.clock {
  background-image: url(../images/sprite/sprite.png);
  background-position: -456px -211px;
  width: 25px;
  height: 25px; }

.download {
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px -285px;
  width: 19px;
  height: 25px; }

.paper_term {
  background-image: url(../images/sprite/sprite.png);
  background-position: -421px -211px;
  width: 25px;
  height: 31px; }

.arrow {
  margin-left: 20%;
  background-image: url(../images/sprite/sprite.png);
  background-position: -357px -265px;
  width: 42px;
  height: 10px; }

.bit {
  background-image: url(../images/sprite/sprite.png);
  background-position: -119px -188px;
  width: 109px;
  height: 84px; }

.boards {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -94px;
  width: 109px;
  height: 84px; }

.brain {
  background-image: url(../images/sprite/sprite.png);
  background-position: -119px -94px;
  width: 109px;
  height: 84px; }

.cubic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -94px;
  width: 109px;
  height: 84px; }

.health {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px 0px;
  width: 109px;
  height: 84px; }

.net {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -188px;
  width: 109px;
  height: 84px; }

.rocket {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px 0px;
  width: 109px;
  height: 84px; }

.wheel {
  background-image: url(../images/sprite/sprite.png);
  background-position: -119px 0px;
  width: 109px;
  height: 84px; }

body {
  font-size: small; }

.pseudo, nav.--open li:before, .rate__block:first-child:before, .rate__block:first-child:after, .rate__block:last-child:after, .timing:before, .timing .timing__node:before, .timing .timing__node:after {
  display: block;
  content: ''; }

.dashed_line, nav.--open li:before {
  border-bottom: 1px dashed #26a9cc; }

.flex, .navigation__line, .head__content, .rate, .rate__block:last-child, .timing, .token__details, .roadmap, .roadmap_wrapper {
  display: flex; }

.flex-column, .navigation__line, .head__content, .timing, .token__details, .roadmap {
  flex-flow: column nowrap; }

.flex-row, .roadmap_wrapper {
  flex-flow: row wrap; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.flex-center, .navigation__line, .head__content, .token__details {
  align-items: center; }

.curs_default {
  cursor: default; }

.f_small {
  font-size: 0.8em; }

.f_regular, .distribution__descr {
  font-size: 1em; }

.f_medium, .bar_helper div {
  font-size: 1.375em; }

.f_big {
  font-size: 1.625em; }

.f_black {
  font-size: 3em; }

.fm_super {
  font-size: 3.35em; }

.f_super {
  font-size: 5em; }

.h_indent, nav.--open li:before, .form-text, .quote_author, .quote_author a, .eth_1, .eth_2, .eth_3, .eth_4, .bagel, .cross__cutting p {
  margin: 20px 0; }

.inline_b {
  display: inline-block; }

.relative, .rate__block, .timing, .timing .timing__node, .token__distribution, .proceeds__distribution, .timing__bonus {
  position: relative; }

.absolute, .rate__block:first-child:before, .rate__block:first-child:after, .rate__block:last-child:after, .timing:before, .timing .timing__node:before, .timing .timing__node:after {
  position: absolute; }

a {
  color: #49cef2; }
  a:hover {
    color: #40bce0; }

i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.wrapper {
  max-width: 1480px;
  margin: auto; }

.logo {
  width: 250px;
  height: 69px;
  padding: 20px;
  background: url(../images/logo_2.svg) no-repeat;
  background-position: center;
  background-size: 100%; }

.slogan {
  display: none; }

.head__block {
  display: block;
  padding: 100px 0 175px 0;
  background: url(../images/header-background.jpg) repeat-x;
  background-size: 100%;
  background: #16243f;
  /* Old browsers */
  background: linear-gradient(to bottom, #16243f 0%, #182b4b 5%, #183d71 21%, #154582 28%, #134e90 33%, #11608b 48%, #0e4f79 72%, #0a4370 81%, #1b316a 93%, #162645 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16243f', endColorstr='#162645',GradientType=0 );
  /* IE6-9 */ }

.header-left {
  max-width: 605px; }

.header-right {
  max-width: 690px; }

.header_video {
  width: 100%; }

.dashed {
  display: block;
  border-bottom: dashed 3px rgba(255, 255, 255, 0.3);
  margin: 20px 0; }

.time {
  max-width: 450px; }
  .time p {
    display: block; }
  .time .time_desc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

.header_rate_wrap {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px; }

.rate_h {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 30px;
  line-height: 60px;
  position: relative; }
  .rate_h:after {
    position: absolute;
    opacity: 0.2;
    line-height: 110px;
    vertical-align: middle;
    font-size: 60px;
    right: -35px;
    top: 0;
    display: block;
    content: "|"; }
  .rate_h:nth-child(2) {
    font-size: 0.63em; }
  .rate_h:last-child {
    margin-right: 0; }
  .rate_h:last-child:after {
    display: none; }

.rate__block_h {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .rate__block_h div {
    text-align: center; }

.form_whitelist {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 530px;
  border-radius: 5px;
  box-shadow: 3px 4px 54px rgba(0, 0, 0, 0.37);
  background-color: rgba(11, 122, 152, 0.37); }
  .form_whitelist form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%; }
  .form_whitelist input, .form_whitelist button.submit {
    border: none;
    border-radius: 5px;
    height: 65px;
    width: 80%;
    margin: 10px auto; }

.form_whitelist input {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #fff;
  background: none; }
  .form_whitelist input::placeholder {
    color: #fff; }
  .form_whitelist input:focus {
    outline: none; }
  .form_whitelist input:focus::placeholder {
    color: transparent; }

button.submit {
  cursor: pointer; }

.form-text {
  width: 80%;
  position: relative;
  text-decoration: underline; }
  .form-text div > p {
    line-height: 32px; }

section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.title, .subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px; }

h1.title {
  margin: 40px auto; }

h2.subtitle {
  margin: 20px auto; }

.rate {
  font-size: 2.12em;
  margin: 28px auto;
  max-height: 80px;
  width: 100%; }

.rate__block {
  min-height: 38px;
  display: inline-block; }

.rate__block:first-child {
  padding: 10px; }

.rate__block:first-child:after {
  bottom: 35%;
  right: -10px;
  border-style: solid;
  border-color: transparent transparent transparent #26a9cc;
  border-width: 10px 0 10px 10px; }

.rate__block:last-child {
  background-color: rgba(38, 168, 203, 0.1);
  align-items: center;
  width: 100%; }

.rate__block:last-child div {
  display: block;
  margin-left: 20px; }

.quote {
  color: #106a8c;
  position: relative;
  border: 1px dotted #106a8c;
  margin: 30px auto; }

.quote_wrapper {
  max-width: 970px;
  text-align: center;
  padding: 35px 15px;
  margin: 12px;
  background-color: rgba(236, 250, 254, 0.6); }

.quote_text {
  margin: 10px 0; }

.pinetree:before, .pinetree:after {
  position: absolute;
  display: block;
  font-size: 40px;
  vertical-align: middle;
  line-height: 30px;
  background-color: white; }

.quote_author, .quote_author a {
  color: #0b0b0b; }

.block2 img {
  width: 100%;
  max-width: 1357px;
  margin: 30px auto; }

.frame_wrrapper {
  width: 100%;
  max-width: 601px; }

.block3 .intro {
  display: flex;
  flex-grow: 2;
  margin: 0 0 40px;
  width: 100%; }

.block4 h2 {
  margin: 60px auto; }

.block4__step {
  margin: 60px auto; }

.timing:before {
  top: 0;
  left: 0;
  height: 100%;
  border-left: 1px dashed #26a9cc; }

.timing .timing__node {
  margin: 20px 40px; }
  .timing .timing__node:first-child {
    margin-top: 0; }
  .timing .timing__node:last-child {
    margin-bottom: 0; }
  .timing .timing__node:before {
    left: -58px;
    top: 0; }
  .timing .timing__node:after {
    left: -55px;
    top: 3px; }

.inner_circle, .timing .timing__node:before, .roadmap_line:before {
  border: solid 3px #26a9cc;
  border-radius: 50%;
  max-width: 36px;
  width: 30px;
  height: 30px;
  background: #fff; }

.circle, .timing .timing__node:after, .roadmap_line:after {
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px;
  border-radius: 50%;
  background: #26a9cc; }

.token__details .token__rect {
  width: 100%;
  outline: solid 3px rgba(225, 225, 225, 0.4); }
  .token__details .token__rect div {
    margin: 20px; }

.bar_helper {
  position: absolute; }
  .bar_helper:nth-child(1) {
    top: -20px;
    left: 44px; }
  .bar_helper:nth-child(2) {
    top: 95px;
    left: 150px; }
  .bar_helper:nth-child(3) {
    top: 210px;
    left: 255px; }

.donut_path {
  display: none; }

.distribution__descr:before {
  content: "⯁";
  padding-right: 10px; }

.eth_1 {
  color: #02bef6; }

.eth_2 {
  color: #069ed2; }

.eth_3 {
  color: #0787b9; }

.eth_4 {
  color: #0a73a2; }

.bagel .inner_circle_n {
  padding: 20px 0;
  width: 100%; }

.roadmap {
  margin: 20px 0 60px; }

.roadmap_wrapper {
  margin: 30px auto;
  flex-wrap: nowrap; }

.roadmap_text {
  order: 2;
  width: 63%; }

.roadmap_line:after {
  width: 24px;
  height: 24px; }

footer {
  width: 100%;
  background: #023f50;
  border-top: #105b70 solid 5px;
  font-size: 0.8em; }
  footer ul {
    background: #023f50;
    text-align: center; }
  footer li {
    list-style: none;
    display: inline-block;
    line-height: 2.1em; }
    footer li:after {
      display: inline-block;
      content: "|";
      margin: 10px; }
