nav {
  display: none;
}

nav.__open {
  @extend .flex;
  height: auto;
  margin: auto;
  width: 100%;
  li {
    //margin: 50px 0;
    &:before {
      @extend .pseudo,
              .dashed_line,
              .h_indent
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

ul.navigation {
  @extend .flex,
          .flex-column,
          .roboto_light,
          .white_c;
  flex: 100%;
  transition: height, margin .3s ease;
  z-index: 1;
  overflow: hidden;
}

ul.navigation {
  li:last-child>a {margin-right: 0}
  a {
    @extend .white_c;
    margin: 0 25px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
  :hover {color: #49cef2;}
}



.nav-btn {
  @extend .absolute;
  width: 40px;
  height: 25px;
  top: 18px;
  right: 10px;
  margin-left: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

.nav-btn span {
  @extend .absolute,
          .white_b;
  display: block;
  height: 4px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-btn span:nth-child(1) {
  top: 0;
}

.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 10px;
}

.nav-btn span:nth-child(4) {
  top: 20px;
}

.nav-btn.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.nav-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-btn.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}