// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 357px;
$arrow-y: 306px;
$arrow-offset-x: -357px;
$arrow-offset-y: -306px;
$arrow-width: 42px;
$arrow-height: 10px;
$arrow-total-width: 496px;
$arrow-total-height: 327px;
$arrow-image: '../images/sprite/sprite.png';
$arrow: (357px, 306px, -357px, -306px, 42px, 10px, 496px, 327px, '../images/sprite/sprite.png', 'arrow', );
$bit-name: 'bit';
$bit-x: 119px;
$bit-y: 188px;
$bit-offset-x: -119px;
$bit-offset-y: -188px;
$bit-width: 109px;
$bit-height: 84px;
$bit-total-width: 496px;
$bit-total-height: 327px;
$bit-image: '../images/sprite/sprite.png';
$bit: (119px, 188px, -119px, -188px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'bit', );
$boards-name: 'boards';
$boards-x: 0px;
$boards-y: 94px;
$boards-offset-x: 0px;
$boards-offset-y: -94px;
$boards-width: 109px;
$boards-height: 84px;
$boards-total-width: 496px;
$boards-total-height: 327px;
$boards-image: '../images/sprite/sprite.png';
$boards: (0px, 94px, 0px, -94px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'boards', );
$brain-name: 'brain';
$brain-x: 119px;
$brain-y: 94px;
$brain-offset-x: -119px;
$brain-offset-y: -94px;
$brain-width: 109px;
$brain-height: 84px;
$brain-total-width: 496px;
$brain-total-height: 327px;
$brain-image: '../images/sprite/sprite.png';
$brain: (119px, 94px, -119px, -94px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'brain', );
$clock-name: 'clock';
$clock-x: 456px;
$clock-y: 252px;
$clock-offset-x: -456px;
$clock-offset-y: -252px;
$clock-width: 25px;
$clock-height: 25px;
$clock-total-width: 496px;
$clock-total-height: 327px;
$clock-image: '../images/sprite/sprite.png';
$clock: (456px, 252px, -456px, -252px, 25px, 25px, 496px, 327px, '../images/sprite/sprite.png', 'clock', );
$cubic-name: 'cubic';
$cubic-x: 238px;
$cubic-y: 94px;
$cubic-offset-x: -238px;
$cubic-offset-y: -94px;
$cubic-width: 109px;
$cubic-height: 84px;
$cubic-total-width: 496px;
$cubic-total-height: 327px;
$cubic-image: '../images/sprite/sprite.png';
$cubic: (238px, 94px, -238px, -94px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'cubic', );
$download-name: 'download';
$download-x: 238px;
$download-y: 188px;
$download-offset-x: -238px;
$download-offset-y: -188px;
$download-width: 19px;
$download-height: 25px;
$download-total-width: 496px;
$download-total-height: 327px;
$download-image: '../images/sprite/sprite.png';
$download: (238px, 188px, -238px, -188px, 19px, 25px, 496px, 327px, '../images/sprite/sprite.png', 'download', );
$hacked-reverse-name: 'hacked-reverse';
$hacked-reverse-x: 357px;
$hacked-reverse-y: 166px;
$hacked-reverse-offset-x: -357px;
$hacked-reverse-offset-y: -166px;
$hacked-reverse-width: 126px;
$hacked-reverse-height: 45px;
$hacked-reverse-total-width: 496px;
$hacked-reverse-total-height: 327px;
$hacked-reverse-image: '../images/sprite/sprite.png';
$hacked-reverse: (357px, 166px, -357px, -166px, 126px, 45px, 496px, 327px, '../images/sprite/sprite.png', 'hacked-reverse', );
$hacked-name: 'hacked';
$hacked-x: 357px;
$hacked-y: 221px;
$hacked-offset-x: -357px;
$hacked-offset-y: -221px;
$hacked-width: 126px;
$hacked-height: 21px;
$hacked-total-width: 496px;
$hacked-total-height: 327px;
$hacked-image: '../images/sprite/sprite.png';
$hacked: (357px, 221px, -357px, -221px, 126px, 21px, 496px, 327px, '../images/sprite/sprite.png', 'hacked', );
$health-name: 'health';
$health-x: 0px;
$health-y: 0px;
$health-offset-x: 0px;
$health-offset-y: 0px;
$health-width: 109px;
$health-height: 84px;
$health-total-width: 496px;
$health-total-height: 327px;
$health-image: '../images/sprite/sprite.png';
$health: (0px, 0px, 0px, 0px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'health', );
$ico-bench-reverse-name: 'ico-bench-reverse';
$ico-bench-reverse-x: 0px;
$ico-bench-reverse-y: 282px;
$ico-bench-reverse-offset-x: 0px;
$ico-bench-reverse-offset-y: -282px;
$ico-bench-reverse-width: 153px;
$ico-bench-reverse-height: 45px;
$ico-bench-reverse-total-width: 496px;
$ico-bench-reverse-total-height: 327px;
$ico-bench-reverse-image: '../images/sprite/sprite.png';
$ico-bench-reverse: (0px, 282px, 0px, -282px, 153px, 45px, 496px, 327px, '../images/sprite/sprite.png', 'ico-bench-reverse', );
$ico-bench-name: 'ico-bench';
$ico-bench-x: 357px;
$ico-bench-y: 0px;
$ico-bench-offset-x: -357px;
$ico-bench-offset-y: 0px;
$ico-bench-width: 139px;
$ico-bench-height: 46px;
$ico-bench-total-width: 496px;
$ico-bench-total-height: 327px;
$ico-bench-image: '../images/sprite/sprite.png';
$ico-bench: (357px, 0px, -357px, 0px, 139px, 46px, 496px, 327px, '../images/sprite/sprite.png', 'ico-bench', );
$icoraiting-reverse-name: 'icoraiting-reverse';
$icoraiting-reverse-x: 357px;
$icoraiting-reverse-y: 111px;
$icoraiting-reverse-offset-x: -357px;
$icoraiting-reverse-offset-y: -111px;
$icoraiting-reverse-width: 136px;
$icoraiting-reverse-height: 45px;
$icoraiting-reverse-total-width: 496px;
$icoraiting-reverse-total-height: 327px;
$icoraiting-reverse-image: '../images/sprite/sprite.png';
$icoraiting-reverse: (357px, 111px, -357px, -111px, 136px, 45px, 496px, 327px, '../images/sprite/sprite.png', 'icoraiting-reverse', );
$icoraiting-name: 'icoraiting';
$icoraiting-x: 357px;
$icoraiting-y: 56px;
$icoraiting-offset-x: -357px;
$icoraiting-offset-y: -56px;
$icoraiting-width: 136px;
$icoraiting-height: 45px;
$icoraiting-total-width: 496px;
$icoraiting-total-height: 327px;
$icoraiting-image: '../images/sprite/sprite.png';
$icoraiting: (357px, 56px, -357px, -56px, 136px, 45px, 496px, 327px, '../images/sprite/sprite.png', 'icoraiting', );
$mail-name: 'mail';
$mail-x: 357px;
$mail-y: 252px;
$mail-offset-x: -357px;
$mail-offset-y: -252px;
$mail-width: 54px;
$mail-height: 44px;
$mail-total-width: 496px;
$mail-total-height: 327px;
$mail-image: '../images/sprite/sprite.png';
$mail: (357px, 252px, -357px, -252px, 54px, 44px, 496px, 327px, '../images/sprite/sprite.png', 'mail', );
$net-name: 'net';
$net-x: 0px;
$net-y: 188px;
$net-offset-x: 0px;
$net-offset-y: -188px;
$net-width: 109px;
$net-height: 84px;
$net-total-width: 496px;
$net-total-height: 327px;
$net-image: '../images/sprite/sprite.png';
$net: (0px, 188px, 0px, -188px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'net', );
$paper-term-name: 'paper_term';
$paper-term-x: 421px;
$paper-term-y: 252px;
$paper-term-offset-x: -421px;
$paper-term-offset-y: -252px;
$paper-term-width: 25px;
$paper-term-height: 31px;
$paper-term-total-width: 496px;
$paper-term-total-height: 327px;
$paper-term-image: '../images/sprite/sprite.png';
$paper-term: (421px, 252px, -421px, -252px, 25px, 31px, 496px, 327px, '../images/sprite/sprite.png', 'paper_term', );
$rocket-name: 'rocket';
$rocket-x: 238px;
$rocket-y: 0px;
$rocket-offset-x: -238px;
$rocket-offset-y: 0px;
$rocket-width: 109px;
$rocket-height: 84px;
$rocket-total-width: 496px;
$rocket-total-height: 327px;
$rocket-image: '../images/sprite/sprite.png';
$rocket: (238px, 0px, -238px, 0px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'rocket', );
$wheel-name: 'wheel';
$wheel-x: 119px;
$wheel-y: 0px;
$wheel-offset-x: -119px;
$wheel-offset-y: 0px;
$wheel-width: 109px;
$wheel-height: 84px;
$wheel-total-width: 496px;
$wheel-total-height: 327px;
$wheel-image: '../images/sprite/sprite.png';
$wheel: (119px, 0px, -119px, 0px, 109px, 84px, 496px, 327px, '../images/sprite/sprite.png', 'wheel', );
$spritesheet-width: 496px;
$spritesheet-height: 327px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($arrow, $bit, $boards, $brain, $clock, $cubic, $download, $hacked-reverse, $hacked, $health, $ico-bench-reverse, $ico-bench, $icoraiting-reverse, $icoraiting, $mail, $net, $paper-term, $rocket, $wheel, );
$spritesheet: (496px, 327px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
