// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 357px;
$icon-arrow-y: 262px;
$icon-arrow-offset-x: -357px;
$icon-arrow-offset-y: -262px;
$icon-arrow-width: 42px;
$icon-arrow-height: 10px;
$icon-arrow-total-width: 492px;
$icon-arrow-total-height: 324px;
$icon-arrow-image: '../images/sprites/icons.png';
$icon-arrow: (357px, 262px, -357px, -262px, 42px, 10px, 492px, 324px, '../images/sprites/icons.png', 'icon-arrow', );
$icon-bit-name: 'icon-bit';
$icon-bit-x: 119px;
$icon-bit-y: 188px;
$icon-bit-offset-x: -119px;
$icon-bit-offset-y: -188px;
$icon-bit-width: 109px;
$icon-bit-height: 84px;
$icon-bit-total-width: 492px;
$icon-bit-total-height: 324px;
$icon-bit-image: '../images/sprites/icons.png';
$icon-bit: (119px, 188px, -119px, -188px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-bit', );
$icon-boards-name: 'icon-boards';
$icon-boards-x: 0px;
$icon-boards-y: 94px;
$icon-boards-offset-x: 0px;
$icon-boards-offset-y: -94px;
$icon-boards-width: 109px;
$icon-boards-height: 84px;
$icon-boards-total-width: 492px;
$icon-boards-total-height: 324px;
$icon-boards-image: '../images/sprites/icons.png';
$icon-boards: (0px, 94px, 0px, -94px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-boards', );
$icon-brain-name: 'icon-brain';
$icon-brain-x: 119px;
$icon-brain-y: 94px;
$icon-brain-offset-x: -119px;
$icon-brain-offset-y: -94px;
$icon-brain-width: 109px;
$icon-brain-height: 84px;
$icon-brain-total-width: 492px;
$icon-brain-total-height: 324px;
$icon-brain-image: '../images/sprites/icons.png';
$icon-brain: (119px, 94px, -119px, -94px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-brain', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 456px;
$icon-clock-y: 208px;
$icon-clock-offset-x: -456px;
$icon-clock-offset-y: -208px;
$icon-clock-width: 25px;
$icon-clock-height: 25px;
$icon-clock-total-width: 492px;
$icon-clock-total-height: 324px;
$icon-clock-image: '../images/sprites/icons.png';
$icon-clock: (456px, 208px, -456px, -208px, 25px, 25px, 492px, 324px, '../images/sprites/icons.png', 'icon-clock', );
$icon-cubic-name: 'icon-cubic';
$icon-cubic-x: 238px;
$icon-cubic-y: 94px;
$icon-cubic-offset-x: -238px;
$icon-cubic-offset-y: -94px;
$icon-cubic-width: 109px;
$icon-cubic-height: 84px;
$icon-cubic-total-width: 492px;
$icon-cubic-total-height: 324px;
$icon-cubic-image: '../images/sprites/icons.png';
$icon-cubic: (238px, 94px, -238px, -94px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-cubic', );
$icon-download-name: 'icon-download';
$icon-download-x: 357px;
$icon-download-y: 282px;
$icon-download-offset-x: -357px;
$icon-download-offset-y: -282px;
$icon-download-width: 19px;
$icon-download-height: 25px;
$icon-download-total-width: 492px;
$icon-download-total-height: 324px;
$icon-download-image: '../images/sprites/icons.png';
$icon-download: (357px, 282px, -357px, -282px, 19px, 25px, 492px, 324px, '../images/sprites/icons.png', 'icon-download', );
$icon-hacked-reverse-name: 'icon-hacked-reverse';
$icon-hacked-reverse-x: 357px;
$icon-hacked-reverse-y: 156px;
$icon-hacked-reverse-offset-x: -357px;
$icon-hacked-reverse-offset-y: -156px;
$icon-hacked-reverse-width: 135px;
$icon-hacked-reverse-height: 42px;
$icon-hacked-reverse-total-width: 492px;
$icon-hacked-reverse-total-height: 324px;
$icon-hacked-reverse-image: '../images/sprites/icons.png';
$icon-hacked-reverse: (357px, 156px, -357px, -156px, 135px, 42px, 492px, 324px, '../images/sprites/icons.png', 'icon-hacked-reverse', );
$icon-hacked-name: 'icon-hacked';
$icon-hacked-x: 145px;
$icon-hacked-y: 282px;
$icon-hacked-offset-x: -145px;
$icon-hacked-offset-y: -282px;
$icon-hacked-width: 135px;
$icon-hacked-height: 42px;
$icon-hacked-total-width: 492px;
$icon-hacked-total-height: 324px;
$icon-hacked-image: '../images/sprites/icons.png';
$icon-hacked: (145px, 282px, -145px, -282px, 135px, 42px, 492px, 324px, '../images/sprites/icons.png', 'icon-hacked', );
$icon-health-name: 'icon-health';
$icon-health-x: 0px;
$icon-health-y: 0px;
$icon-health-offset-x: 0px;
$icon-health-offset-y: 0px;
$icon-health-width: 109px;
$icon-health-height: 84px;
$icon-health-total-width: 492px;
$icon-health-total-height: 324px;
$icon-health-image: '../images/sprites/icons.png';
$icon-health: (0px, 0px, 0px, 0px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-health', );
$icon-ico-bench-reverse-name: 'icon-ico-bench-reverse';
$icon-ico-bench-reverse-x: 357px;
$icon-ico-bench-reverse-y: 0px;
$icon-ico-bench-reverse-offset-x: -357px;
$icon-ico-bench-reverse-offset-y: 0px;
$icon-ico-bench-reverse-width: 135px;
$icon-ico-bench-reverse-height: 42px;
$icon-ico-bench-reverse-total-width: 492px;
$icon-ico-bench-reverse-total-height: 324px;
$icon-ico-bench-reverse-image: '../images/sprites/icons.png';
$icon-ico-bench-reverse: (357px, 0px, -357px, 0px, 135px, 42px, 492px, 324px, '../images/sprites/icons.png', 'icon-ico-bench-reverse', );
$icon-ico-bench-name: 'icon-ico-bench';
$icon-ico-bench-x: 357px;
$icon-ico-bench-y: 52px;
$icon-ico-bench-offset-x: -357px;
$icon-ico-bench-offset-y: -52px;
$icon-ico-bench-width: 135px;
$icon-ico-bench-height: 42px;
$icon-ico-bench-total-width: 492px;
$icon-ico-bench-total-height: 324px;
$icon-ico-bench-image: '../images/sprites/icons.png';
$icon-ico-bench: (357px, 52px, -357px, -52px, 135px, 42px, 492px, 324px, '../images/sprites/icons.png', 'icon-ico-bench', );
$icon-icoraiting-reverse-name: 'icon-icoraiting-reverse';
$icon-icoraiting-reverse-x: 357px;
$icon-icoraiting-reverse-y: 104px;
$icon-icoraiting-reverse-offset-x: -357px;
$icon-icoraiting-reverse-offset-y: -104px;
$icon-icoraiting-reverse-width: 135px;
$icon-icoraiting-reverse-height: 42px;
$icon-icoraiting-reverse-total-width: 492px;
$icon-icoraiting-reverse-total-height: 324px;
$icon-icoraiting-reverse-image: '../images/sprites/icons.png';
$icon-icoraiting-reverse: (357px, 104px, -357px, -104px, 135px, 42px, 492px, 324px, '../images/sprites/icons.png', 'icon-icoraiting-reverse', );
$icon-icoraiting-name: 'icon-icoraiting';
$icon-icoraiting-x: 0px;
$icon-icoraiting-y: 282px;
$icon-icoraiting-offset-x: 0px;
$icon-icoraiting-offset-y: -282px;
$icon-icoraiting-width: 135px;
$icon-icoraiting-height: 42px;
$icon-icoraiting-total-width: 492px;
$icon-icoraiting-total-height: 324px;
$icon-icoraiting-image: '../images/sprites/icons.png';
$icon-icoraiting: (0px, 282px, 0px, -282px, 135px, 42px, 492px, 324px, '../images/sprites/icons.png', 'icon-icoraiting', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 357px;
$icon-mail-y: 208px;
$icon-mail-offset-x: -357px;
$icon-mail-offset-y: -208px;
$icon-mail-width: 54px;
$icon-mail-height: 44px;
$icon-mail-total-width: 492px;
$icon-mail-total-height: 324px;
$icon-mail-image: '../images/sprites/icons.png';
$icon-mail: (357px, 208px, -357px, -208px, 54px, 44px, 492px, 324px, '../images/sprites/icons.png', 'icon-mail', );
$icon-net-name: 'icon-net';
$icon-net-x: 0px;
$icon-net-y: 188px;
$icon-net-offset-x: 0px;
$icon-net-offset-y: -188px;
$icon-net-width: 109px;
$icon-net-height: 84px;
$icon-net-total-width: 492px;
$icon-net-total-height: 324px;
$icon-net-image: '../images/sprites/icons.png';
$icon-net: (0px, 188px, 0px, -188px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-net', );
$icon-paper-term-name: 'icon-paper_term';
$icon-paper-term-x: 421px;
$icon-paper-term-y: 208px;
$icon-paper-term-offset-x: -421px;
$icon-paper-term-offset-y: -208px;
$icon-paper-term-width: 25px;
$icon-paper-term-height: 31px;
$icon-paper-term-total-width: 492px;
$icon-paper-term-total-height: 324px;
$icon-paper-term-image: '../images/sprites/icons.png';
$icon-paper-term: (421px, 208px, -421px, -208px, 25px, 31px, 492px, 324px, '../images/sprites/icons.png', 'icon-paper_term', );
$icon-rocket-name: 'icon-rocket';
$icon-rocket-x: 238px;
$icon-rocket-y: 0px;
$icon-rocket-offset-x: -238px;
$icon-rocket-offset-y: 0px;
$icon-rocket-width: 109px;
$icon-rocket-height: 84px;
$icon-rocket-total-width: 492px;
$icon-rocket-total-height: 324px;
$icon-rocket-image: '../images/sprites/icons.png';
$icon-rocket: (238px, 0px, -238px, 0px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-rocket', );
$icon-wheel-name: 'icon-wheel';
$icon-wheel-x: 119px;
$icon-wheel-y: 0px;
$icon-wheel-offset-x: -119px;
$icon-wheel-offset-y: 0px;
$icon-wheel-width: 109px;
$icon-wheel-height: 84px;
$icon-wheel-total-width: 492px;
$icon-wheel-total-height: 324px;
$icon-wheel-image: '../images/sprites/icons.png';
$icon-wheel: (119px, 0px, -119px, 0px, 109px, 84px, 492px, 324px, '../images/sprites/icons.png', 'icon-wheel', );
$spritesheet-width: 492px;
$spritesheet-height: 324px;
$spritesheet-image: '../images/sprites/icons.png';
$spritesheet-sprites: ($icon-arrow, $icon-bit, $icon-boards, $icon-brain, $icon-clock, $icon-cubic, $icon-download, $icon-hacked-reverse, $icon-hacked, $icon-health, $icon-ico-bench-reverse, $icon-ico-bench, $icon-icoraiting-reverse, $icon-icoraiting, $icon-mail, $icon-net, $icon-paper-term, $icon-rocket, $icon-wheel, );
$spritesheet: (492px, 324px, '../images/sprites/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$logo-all-about-bit-name: 'logo-all_about_bit';
$logo-all-about-bit-x: 0px;
$logo-all-about-bit-y: 326px;
$logo-all-about-bit-offset-x: 0px;
$logo-all-about-bit-offset-y: -326px;
$logo-all-about-bit-width: 180px;
$logo-all-about-bit-height: 45px;
$logo-all-about-bit-total-width: 780px;
$logo-all-about-bit-total-height: 696px;
$logo-all-about-bit-image: '../images/sprites/logos.png';
$logo-all-about-bit: (0px, 326px, 0px, -326px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-all_about_bit', );
$logo-bankless-name: 'logo-bankless';
$logo-bankless-x: 0px;
$logo-bankless-y: 456px;
$logo-bankless-offset-x: 0px;
$logo-bankless-offset-y: -456px;
$logo-bankless-width: 180px;
$logo-bankless-height: 45px;
$logo-bankless-total-width: 780px;
$logo-bankless-total-height: 696px;
$logo-bankless-image: '../images/sprites/logos.png';
$logo-bankless: (0px, 456px, 0px, -456px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bankless', );
$logo-bb-name: 'logo-bb';
$logo-bb-x: 0px;
$logo-bb-y: 131px;
$logo-bb-offset-x: 0px;
$logo-bb-offset-y: -131px;
$logo-bb-width: 180px;
$logo-bb-height: 45px;
$logo-bb-total-width: 780px;
$logo-bb-total-height: 696px;
$logo-bb-image: '../images/sprites/logos.png';
$logo-bb: (0px, 131px, 0px, -131px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bb', );
$logo-bit2-name: 'logo-bit2';
$logo-bit2-x: 200px;
$logo-bit2-y: 0px;
$logo-bit2-offset-x: -200px;
$logo-bit2-offset-y: 0px;
$logo-bit2-width: 180px;
$logo-bit2-height: 45px;
$logo-bit2-total-width: 780px;
$logo-bit2-total-height: 696px;
$logo-bit2-image: '../images/sprites/logos.png';
$logo-bit2: (200px, 0px, -200px, 0px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bit2', );
$logo-bit-n-alt-name: 'logo-bit_n_alt';
$logo-bit-n-alt-x: 200px;
$logo-bit-n-alt-y: 65px;
$logo-bit-n-alt-offset-x: -200px;
$logo-bit-n-alt-offset-y: -65px;
$logo-bit-n-alt-width: 180px;
$logo-bit-n-alt-height: 45px;
$logo-bit-n-alt-total-width: 780px;
$logo-bit-n-alt-total-height: 696px;
$logo-bit-n-alt-image: '../images/sprites/logos.png';
$logo-bit-n-alt: (200px, 65px, -200px, -65px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bit_n_alt', );
$logo-bitcoin-name: 'logo-bitcoin';
$logo-bitcoin-x: 200px;
$logo-bitcoin-y: 130px;
$logo-bitcoin-offset-x: -200px;
$logo-bitcoin-offset-y: -130px;
$logo-bitcoin-width: 180px;
$logo-bitcoin-height: 45px;
$logo-bitcoin-total-width: 780px;
$logo-bitcoin-total-height: 696px;
$logo-bitcoin-image: '../images/sprites/logos.png';
$logo-bitcoin: (200px, 130px, -200px, -130px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bitcoin', );
$logo-bitcoin-insider-name: 'logo-bitcoin_insider';
$logo-bitcoin-insider-x: 0px;
$logo-bitcoin-insider-y: 196px;
$logo-bitcoin-insider-offset-x: 0px;
$logo-bitcoin-insider-offset-y: -196px;
$logo-bitcoin-insider-width: 180px;
$logo-bitcoin-insider-height: 45px;
$logo-bitcoin-insider-total-width: 780px;
$logo-bitcoin-insider-total-height: 696px;
$logo-bitcoin-insider-image: '../images/sprites/logos.png';
$logo-bitcoin-insider: (0px, 196px, 0px, -196px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bitcoin_insider', );
$logo-bitmakler-name: 'logo-bitmakler';
$logo-bitmakler-x: 200px;
$logo-bitmakler-y: 196px;
$logo-bitmakler-offset-x: -200px;
$logo-bitmakler-offset-y: -196px;
$logo-bitmakler-width: 180px;
$logo-bitmakler-height: 45px;
$logo-bitmakler-total-width: 780px;
$logo-bitmakler-total-height: 696px;
$logo-bitmakler-image: '../images/sprites/logos.png';
$logo-bitmakler: (200px, 196px, -200px, -196px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bitmakler', );
$logo-bitstorm-name: 'logo-bitstorm';
$logo-bitstorm-x: 0px;
$logo-bitstorm-y: 261px;
$logo-bitstorm-offset-x: 0px;
$logo-bitstorm-offset-y: -261px;
$logo-bitstorm-width: 180px;
$logo-bitstorm-height: 45px;
$logo-bitstorm-total-width: 780px;
$logo-bitstorm-total-height: 696px;
$logo-bitstorm-image: '../images/sprites/logos.png';
$logo-bitstorm: (0px, 261px, 0px, -261px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-bitstorm', );
$logo-block-tribune-name: 'logo-block_tribune';
$logo-block-tribune-x: 200px;
$logo-block-tribune-y: 261px;
$logo-block-tribune-offset-x: -200px;
$logo-block-tribune-offset-y: -261px;
$logo-block-tribune-width: 180px;
$logo-block-tribune-height: 45px;
$logo-block-tribune-total-width: 780px;
$logo-block-tribune-total-height: 696px;
$logo-block-tribune-image: '../images/sprites/logos.png';
$logo-block-tribune: (200px, 261px, -200px, -261px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-block_tribune', );
$logo-blockchain-news-name: 'logo-blockchain_news';
$logo-blockchain-news-x: 0px;
$logo-blockchain-news-y: 0px;
$logo-blockchain-news-offset-x: 0px;
$logo-blockchain-news-offset-y: 0px;
$logo-blockchain-news-width: 180px;
$logo-blockchain-news-height: 46px;
$logo-blockchain-news-total-width: 780px;
$logo-blockchain-news-total-height: 696px;
$logo-blockchain-news-image: '../images/sprites/logos.png';
$logo-blockchain-news: (0px, 0px, 0px, 0px, 180px, 46px, 780px, 696px, '../images/sprites/logos.png', 'logo-blockchain_news', );
$logo-btcoin-name: 'logo-btcoin';
$logo-btcoin-x: 200px;
$logo-btcoin-y: 326px;
$logo-btcoin-offset-x: -200px;
$logo-btcoin-offset-y: -326px;
$logo-btcoin-width: 180px;
$logo-btcoin-height: 45px;
$logo-btcoin-total-width: 780px;
$logo-btcoin-total-height: 696px;
$logo-btcoin-image: '../images/sprites/logos.png';
$logo-btcoin: (200px, 326px, -200px, -326px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-btcoin', );
$logo-cfo-name: 'logo-cfo';
$logo-cfo-x: 400px;
$logo-cfo-y: 0px;
$logo-cfo-offset-x: -400px;
$logo-cfo-offset-y: 0px;
$logo-cfo-width: 180px;
$logo-cfo-height: 45px;
$logo-cfo-total-width: 780px;
$logo-cfo-total-height: 696px;
$logo-cfo-image: '../images/sprites/logos.png';
$logo-cfo: (400px, 0px, -400px, 0px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-cfo', );
$logo-coin-ninja-name: 'logo-coin_ninja';
$logo-coin-ninja-x: 400px;
$logo-coin-ninja-y: 65px;
$logo-coin-ninja-offset-x: -400px;
$logo-coin-ninja-offset-y: -65px;
$logo-coin-ninja-width: 180px;
$logo-coin-ninja-height: 45px;
$logo-coin-ninja-total-width: 780px;
$logo-coin-ninja-total-height: 696px;
$logo-coin-ninja-image: '../images/sprites/logos.png';
$logo-coin-ninja: (400px, 65px, -400px, -65px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-coin_ninja', );
$logo-coinspeaker-name: 'logo-coinspeaker';
$logo-coinspeaker-x: 400px;
$logo-coinspeaker-y: 130px;
$logo-coinspeaker-offset-x: -400px;
$logo-coinspeaker-offset-y: -130px;
$logo-coinspeaker-width: 180px;
$logo-coinspeaker-height: 45px;
$logo-coinspeaker-total-width: 780px;
$logo-coinspeaker-total-height: 696px;
$logo-coinspeaker-image: '../images/sprites/logos.png';
$logo-coinspeaker: (400px, 130px, -400px, -130px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-coinspeaker', );
$logo-crowdfund-name: 'logo-crowdfund';
$logo-crowdfund-x: 400px;
$logo-crowdfund-y: 195px;
$logo-crowdfund-offset-x: -400px;
$logo-crowdfund-offset-y: -195px;
$logo-crowdfund-width: 180px;
$logo-crowdfund-height: 45px;
$logo-crowdfund-total-width: 780px;
$logo-crowdfund-total-height: 696px;
$logo-crowdfund-image: '../images/sprites/logos.png';
$logo-crowdfund: (400px, 195px, -400px, -195px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-crowdfund', );
$logo-crypto-news-name: 'logo-crypto_news';
$logo-crypto-news-x: 400px;
$logo-crypto-news-y: 260px;
$logo-crypto-news-offset-x: -400px;
$logo-crypto-news-offset-y: -260px;
$logo-crypto-news-width: 180px;
$logo-crypto-news-height: 45px;
$logo-crypto-news-total-width: 780px;
$logo-crypto-news-total-height: 696px;
$logo-crypto-news-image: '../images/sprites/logos.png';
$logo-crypto-news: (400px, 260px, -400px, -260px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-crypto_news', );
$logo-decentral-name: 'logo-decentral';
$logo-decentral-x: 400px;
$logo-decentral-y: 325px;
$logo-decentral-offset-x: -400px;
$logo-decentral-offset-y: -325px;
$logo-decentral-width: 180px;
$logo-decentral-height: 45px;
$logo-decentral-total-width: 780px;
$logo-decentral-total-height: 696px;
$logo-decentral-image: '../images/sprites/logos.png';
$logo-decentral: (400px, 325px, -400px, -325px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-decentral', );
$logo-digital-journal-name: 'logo-digital_journal';
$logo-digital-journal-x: 0px;
$logo-digital-journal-y: 391px;
$logo-digital-journal-offset-x: 0px;
$logo-digital-journal-offset-y: -391px;
$logo-digital-journal-width: 180px;
$logo-digital-journal-height: 45px;
$logo-digital-journal-total-width: 780px;
$logo-digital-journal-total-height: 696px;
$logo-digital-journal-image: '../images/sprites/logos.png';
$logo-digital-journal: (0px, 391px, 0px, -391px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-digital_journal', );
$logo-e27-name: 'logo-e27';
$logo-e27-x: 200px;
$logo-e27-y: 391px;
$logo-e27-offset-x: -200px;
$logo-e27-offset-y: -391px;
$logo-e27-width: 180px;
$logo-e27-height: 45px;
$logo-e27-total-width: 780px;
$logo-e27-total-height: 696px;
$logo-e27-image: '../images/sprites/logos.png';
$logo-e27: (200px, 391px, -200px, -391px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-e27', );
$logo-forklog-name: 'logo-forklog';
$logo-forklog-x: 400px;
$logo-forklog-y: 391px;
$logo-forklog-offset-x: -400px;
$logo-forklog-offset-y: -391px;
$logo-forklog-width: 180px;
$logo-forklog-height: 45px;
$logo-forklog-total-width: 780px;
$logo-forklog-total-height: 696px;
$logo-forklog-image: '../images/sprites/logos.png';
$logo-forklog: (400px, 391px, -400px, -391px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-forklog', );
$logo-geeks-name: 'logo-geeks';
$logo-geeks-x: 0px;
$logo-geeks-y: 66px;
$logo-geeks-offset-x: 0px;
$logo-geeks-offset-y: -66px;
$logo-geeks-width: 180px;
$logo-geeks-height: 45px;
$logo-geeks-total-width: 780px;
$logo-geeks-total-height: 696px;
$logo-geeks-image: '../images/sprites/logos.png';
$logo-geeks: (0px, 66px, 0px, -66px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-geeks', );
$logo-h-name: 'logo-h+';
$logo-h-x: 200px;
$logo-h-y: 456px;
$logo-h-offset-x: -200px;
$logo-h-offset-y: -456px;
$logo-h-width: 180px;
$logo-h-height: 45px;
$logo-h-total-width: 780px;
$logo-h-total-height: 696px;
$logo-h-image: '../images/sprites/logos.png';
$logo-h-: (200px, 456px, -200px, -456px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-h+', );
$logo-hacked2-name: 'logo-hacked2';
$logo-hacked2-x: 400px;
$logo-hacked2-y: 456px;
$logo-hacked2-offset-x: -400px;
$logo-hacked2-offset-y: -456px;
$logo-hacked2-width: 180px;
$logo-hacked2-height: 45px;
$logo-hacked2-total-width: 780px;
$logo-hacked2-total-height: 696px;
$logo-hacked2-image: '../images/sprites/logos.png';
$logo-hacked2: (400px, 456px, -400px, -456px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-hacked2', );
$logo-hacker-space-name: 'logo-hacker_space';
$logo-hacker-space-x: 0px;
$logo-hacker-space-y: 521px;
$logo-hacker-space-offset-x: 0px;
$logo-hacker-space-offset-y: -521px;
$logo-hacker-space-width: 180px;
$logo-hacker-space-height: 45px;
$logo-hacker-space-total-width: 780px;
$logo-hacker-space-total-height: 696px;
$logo-hacker-space-image: '../images/sprites/logos.png';
$logo-hacker-space: (0px, 521px, 0px, -521px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-hacker_space', );
$logo-hackernoon-name: 'logo-hackernoon';
$logo-hackernoon-x: 200px;
$logo-hackernoon-y: 521px;
$logo-hackernoon-offset-x: -200px;
$logo-hackernoon-offset-y: -521px;
$logo-hackernoon-width: 180px;
$logo-hackernoon-height: 45px;
$logo-hackernoon-total-width: 780px;
$logo-hackernoon-total-height: 696px;
$logo-hackernoon-image: '../images/sprites/logos.png';
$logo-hackernoon: (200px, 521px, -200px, -521px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-hackernoon', );
$logo-ico-daily-name: 'logo-ico_daily';
$logo-ico-daily-x: 400px;
$logo-ico-daily-y: 521px;
$logo-ico-daily-offset-x: -400px;
$logo-ico-daily-offset-y: -521px;
$logo-ico-daily-width: 180px;
$logo-ico-daily-height: 45px;
$logo-ico-daily-total-width: 780px;
$logo-ico-daily-total-height: 696px;
$logo-ico-daily-image: '../images/sprites/logos.png';
$logo-ico-daily: (400px, 521px, -400px, -521px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-ico_daily', );
$logo-icoweb-name: 'logo-icoweb';
$logo-icoweb-x: 600px;
$logo-icoweb-y: 0px;
$logo-icoweb-offset-x: -600px;
$logo-icoweb-offset-y: 0px;
$logo-icoweb-width: 180px;
$logo-icoweb-height: 45px;
$logo-icoweb-total-width: 780px;
$logo-icoweb-total-height: 696px;
$logo-icoweb-image: '../images/sprites/logos.png';
$logo-icoweb: (600px, 0px, -600px, 0px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-icoweb', );
$logo-kripto-parahaber-name: 'logo-kripto_parahaber';
$logo-kripto-parahaber-x: 600px;
$logo-kripto-parahaber-y: 65px;
$logo-kripto-parahaber-offset-x: -600px;
$logo-kripto-parahaber-offset-y: -65px;
$logo-kripto-parahaber-width: 180px;
$logo-kripto-parahaber-height: 45px;
$logo-kripto-parahaber-total-width: 780px;
$logo-kripto-parahaber-total-height: 696px;
$logo-kripto-parahaber-image: '../images/sprites/logos.png';
$logo-kripto-parahaber: (600px, 65px, -600px, -65px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-kripto_parahaber', );
$logo-liga-name: 'logo-liga';
$logo-liga-x: 600px;
$logo-liga-y: 130px;
$logo-liga-offset-x: -600px;
$logo-liga-offset-y: -130px;
$logo-liga-width: 180px;
$logo-liga-height: 45px;
$logo-liga-total-width: 780px;
$logo-liga-total-height: 696px;
$logo-liga-image: '../images/sprites/logos.png';
$logo-liga: (600px, 130px, -600px, -130px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-liga', );
$logo-next-big-future-name: 'logo-next_big_future';
$logo-next-big-future-x: 600px;
$logo-next-big-future-y: 195px;
$logo-next-big-future-offset-x: -600px;
$logo-next-big-future-offset-y: -195px;
$logo-next-big-future-width: 180px;
$logo-next-big-future-height: 45px;
$logo-next-big-future-total-width: 780px;
$logo-next-big-future-total-height: 696px;
$logo-next-big-future-image: '../images/sprites/logos.png';
$logo-next-big-future: (600px, 195px, -600px, -195px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-next_big_future', );
$logo-nextworld-name: 'logo-nextworld';
$logo-nextworld-x: 600px;
$logo-nextworld-y: 260px;
$logo-nextworld-offset-x: -600px;
$logo-nextworld-offset-y: -260px;
$logo-nextworld-width: 180px;
$logo-nextworld-height: 45px;
$logo-nextworld-total-width: 780px;
$logo-nextworld-total-height: 696px;
$logo-nextworld-image: '../images/sprites/logos.png';
$logo-nextworld: (600px, 260px, -600px, -260px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-nextworld', );
$logo-orwell-name: 'logo-orwell';
$logo-orwell-x: 600px;
$logo-orwell-y: 325px;
$logo-orwell-offset-x: -600px;
$logo-orwell-offset-y: -325px;
$logo-orwell-width: 180px;
$logo-orwell-height: 45px;
$logo-orwell-total-width: 780px;
$logo-orwell-total-height: 696px;
$logo-orwell-image: '../images/sprites/logos.png';
$logo-orwell: (600px, 325px, -600px, -325px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-orwell', );
$logo-quebec-name: 'logo-quebec';
$logo-quebec-x: 600px;
$logo-quebec-y: 390px;
$logo-quebec-offset-x: -600px;
$logo-quebec-offset-y: -390px;
$logo-quebec-width: 180px;
$logo-quebec-height: 45px;
$logo-quebec-total-width: 780px;
$logo-quebec-total-height: 696px;
$logo-quebec-image: '../images/sprites/logos.png';
$logo-quebec: (600px, 390px, -600px, -390px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-quebec', );
$logo-sputnik-name: 'logo-sputnik';
$logo-sputnik-x: 600px;
$logo-sputnik-y: 455px;
$logo-sputnik-offset-x: -600px;
$logo-sputnik-offset-y: -455px;
$logo-sputnik-width: 180px;
$logo-sputnik-height: 45px;
$logo-sputnik-total-width: 780px;
$logo-sputnik-total-height: 696px;
$logo-sputnik-image: '../images/sprites/logos.png';
$logo-sputnik: (600px, 455px, -600px, -455px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-sputnik', );
$logo-startup-name: 'logo-startup';
$logo-startup-x: 600px;
$logo-startup-y: 520px;
$logo-startup-offset-x: -600px;
$logo-startup-offset-y: -520px;
$logo-startup-width: 180px;
$logo-startup-height: 45px;
$logo-startup-total-width: 780px;
$logo-startup-total-height: 696px;
$logo-startup-image: '../images/sprites/logos.png';
$logo-startup: (600px, 520px, -600px, -520px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-startup', );
$logo-tadviser-name: 'logo-tadviser';
$logo-tadviser-x: 0px;
$logo-tadviser-y: 586px;
$logo-tadviser-offset-x: 0px;
$logo-tadviser-offset-y: -586px;
$logo-tadviser-width: 180px;
$logo-tadviser-height: 45px;
$logo-tadviser-total-width: 780px;
$logo-tadviser-total-height: 696px;
$logo-tadviser-image: '../images/sprites/logos.png';
$logo-tadviser: (0px, 586px, 0px, -586px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-tadviser', );
$logo-tech-fusion-name: 'logo-tech_fusion';
$logo-tech-fusion-x: 200px;
$logo-tech-fusion-y: 586px;
$logo-tech-fusion-offset-x: -200px;
$logo-tech-fusion-offset-y: -586px;
$logo-tech-fusion-width: 180px;
$logo-tech-fusion-height: 45px;
$logo-tech-fusion-total-width: 780px;
$logo-tech-fusion-total-height: 696px;
$logo-tech-fusion-image: '../images/sprites/logos.png';
$logo-tech-fusion: (200px, 586px, -200px, -586px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-tech_fusion', );
$logo-techco-name: 'logo-techco';
$logo-techco-x: 400px;
$logo-techco-y: 586px;
$logo-techco-offset-x: -400px;
$logo-techco-offset-y: -586px;
$logo-techco-width: 180px;
$logo-techco-height: 45px;
$logo-techco-total-width: 780px;
$logo-techco-total-height: 696px;
$logo-techco-image: '../images/sprites/logos.png';
$logo-techco: (400px, 586px, -400px, -586px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-techco', );
$logo-venture-canvas-name: 'logo-venture_canvas';
$logo-venture-canvas-x: 600px;
$logo-venture-canvas-y: 586px;
$logo-venture-canvas-offset-x: -600px;
$logo-venture-canvas-offset-y: -586px;
$logo-venture-canvas-width: 180px;
$logo-venture-canvas-height: 45px;
$logo-venture-canvas-total-width: 780px;
$logo-venture-canvas-total-height: 696px;
$logo-venture-canvas-image: '../images/sprites/logos.png';
$logo-venture-canvas: (600px, 586px, -600px, -586px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-venture_canvas', );
$logo-wall-street-name: 'logo-wall_street';
$logo-wall-street-x: 0px;
$logo-wall-street-y: 651px;
$logo-wall-street-offset-x: 0px;
$logo-wall-street-offset-y: -651px;
$logo-wall-street-width: 180px;
$logo-wall-street-height: 45px;
$logo-wall-street-total-width: 780px;
$logo-wall-street-total-height: 696px;
$logo-wall-street-image: '../images/sprites/logos.png';
$logo-wall-street: (0px, 651px, 0px, -651px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-wall_street', );
$logo-yahoo-name: 'logo-yahoo';
$logo-yahoo-x: 200px;
$logo-yahoo-y: 651px;
$logo-yahoo-offset-x: -200px;
$logo-yahoo-offset-y: -651px;
$logo-yahoo-width: 180px;
$logo-yahoo-height: 45px;
$logo-yahoo-total-width: 780px;
$logo-yahoo-total-height: 696px;
$logo-yahoo-image: '../images/sprites/logos.png';
$logo-yahoo: (200px, 651px, -200px, -651px, 180px, 45px, 780px, 696px, '../images/sprites/logos.png', 'logo-yahoo', );
$spritesheet-width: 780px;
$spritesheet-height: 696px;
$spritesheet-image: '../images/sprites/logos.png';
$spritesheet-sprites: ($logo-all-about-bit, $logo-bankless, $logo-bb, $logo-bit2, $logo-bit-n-alt, $logo-bitcoin, $logo-bitcoin-insider, $logo-bitmakler, $logo-bitstorm, $logo-block-tribune, $logo-blockchain-news, $logo-btcoin, $logo-cfo, $logo-coin-ninja, $logo-coinspeaker, $logo-crowdfund, $logo-crypto-news, $logo-decentral, $logo-digital-journal, $logo-e27, $logo-forklog, $logo-geeks, $logo-h-, $logo-hacked2, $logo-hacker-space, $logo-hackernoon, $logo-ico-daily, $logo-icoweb, $logo-kripto-parahaber, $logo-liga, $logo-next-big-future, $logo-nextworld, $logo-orwell, $logo-quebec, $logo-sputnik, $logo-startup, $logo-tadviser, $logo-tech-fusion, $logo-techco, $logo-venture-canvas, $logo-wall-street, $logo-yahoo, );
$spritesheet: (780px, 696px, '../images/sprites/logos.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
